@import "variables";

* > * {
  box-sizing: border-box;
}

.dashboard-wrapper {
  --min-card-width: 368px;
  --max-card-width: 504px;
  --min-row-height: 112px;
  --max-row-height: 224px;
  --hero-content-span: 2;
  --grid-gap: 32px;

  @media screen and(max-width:840px) {
    --hero-content-span: 1;
  }

  min-height: 100vh;
  background-color: var(--support-color-02);
  padding: var(--grid-gap);
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1800px) 1fr;
  grid-gap: 0;
}

.widget-grid {
  align-self: start;
  display: grid;
  grid-gap: var(--grid-gap);
  grid-column: 2 / 3;

  grid-template-columns: repeat(auto-fill, minmax(var(--min-card-width), 1fr));

  //do we want to layout to decide the height of the widgets?
  grid-auto-rows: var(--min-row-height);
  grid-auto-flow: row dense;

  & > .widget-wrapper {
    --widget-row-span: 4;
    display: flex;
    flex-direction: column;
    align-self: start;
    grid-row: span var(--widget-row-span);
    height: 100%;

    &.one-row{
     --widget-row-span: 1;
    }
    &.two-row{
     --widget-row-span: 2;
    }
    &.three-row{
     --widget-row-span: 3;
    }
    &.four-row{
     --widget-row-span: 4;
    }

    //hero content

    &.search-widget {
      grid-row: 1 / 2;
    }
    &.content-widget {
      grid-row: 2 / 5;
    }

    //header

    & > .widget-header {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 500;
      margin: 0px 0px 12px 0;
    }
  }
}

.widget-container {
  flex-grow: 1;
  height: 100%;
  background-color: white;
  border: 1px solid var(--support-color-05);
  border-radius: 4px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.13);
  overflow-y: auto;
}

//utility

.full-width-cell {
  grid-column: 1 / -1;
}

.two-column-cell {
  grid-column: span var(--hero-content-span);
}

