:root {
  --support-color-90-partial: 210, 16%, 10%;
  --support-color-80-partial: 210, 12%, 20%;
  --support-color-70-partial: 210, 8%, 30%;
  --support-color-60-partial: 210, 6%, 40%;
  --support-color-50-partial: 210, 4%, 50%;
  --support-color-40-partial: 210, 4%, 60%;
  --support-color-30-partial: 210, 4%, 70%;
  --support-color-20-partial: 210, 4%, 80%;
  --support-color-10-partial: 210, 8%, 90%;
  --support-color-05-partial: 210, 12%, 95%;
  --support-color-02-partial: 210, 12%, 97%;
  --support-color-01-partial: 210, 8%, 98%;
  --support-color-90: hsla(var(--support-color-90-partial),1);
  --support-color-80: hsla(var(--support-color-80-partial),1);
  --support-color-70: hsla(var(--support-color-70-partial),1);
  --support-color-60: hsla(var(--support-color-60-partial),1);
  --support-color-50: hsla(var(--support-color-50-partial),1);
  --support-color-40: hsla(var(--support-color-40-partial),1);
  --support-color-30: hsla(var(--support-color-30-partial),1);
  --support-color-20: hsla(var(--support-color-20-partial),1);
  --support-color-10: hsla(var(--support-color-10-partial),1);
  --support-color-05: hsla(var(--support-color-05-partial),1);
  --support-color-02: hsla(var(--support-color-02-partial),1);
  --support-color-01: hsla(var(--support-color-01-partial),1);
  --warning-color-dark:hsla(349, 100%, 35%, 1);
  --warning-color-base:hsla(352, 75%, 46%, 1);
  --warning-color-light:hsla(347, 83%, 95%, 1);
  --success-color-dark:hsla(118, 100%, 16%, 1);
  --success-color-base:hsla(125, 100%, 25%, 1);
  --success-color-light:hsla(116, 47%, 93%, 1);
}

.color-disabled, .disabled {
  --primary-color-dark: var(--support-color-20);
  --primary-color-base: var(--support-color-10);
  --primary-color-light: var(--support-color-05);
}

:root {
  /* Default theme
    Use these partials to retain color consistency when using libraries that cannot interact with a full hsla() string.
    We use these partials in the material UI style sheet of which many of our components are based.
    They can also prove useful if you wish the adjust the opacity of a existing color - altho it is not recommended. */
  --primary-color-90-partial: 198, 82%, 14%;
  --primary-color-80-partial: 198, 90%, 24%;
  --primary-color-70-partial: 198, 100%, 34%;
  --primary-color-60-partial: 198, 80%, 44%;
  --primary-color-50-partial: 198, 72%, 52%;
  --primary-color-40-partial: 198, 72%, 60%;
  --primary-color-30-partial: 198, 72%, 70%;
  --primary-color-20-partial: 198, 72%, 80%;
  --primary-color-10-partial: 198, 72%, 90%;
  --primary-color-05-partial: 198, 70%, 95%;
  /* Primary
    to style our colors we over-ride the primary-color property based on the component class name.
    if you have a component which needs to say have an accent and the default primary and you cannot apply the classes to separate containers
    there is a backup of --primary-base-permanent think of this as a const binding */
  /* Use this for components you always want to be the primary color
    Keep in mind the primary color may not always be the 70 value */
  --primary-color-base-partial: var(--primary-color-70-partial);
  --primary-color-darker-1-partial: var(--primary-color-80-partial);
  --primary-color-darker-2-partial: var(--primary-color-90-partial);
  --primary-color-lighter-1-partial: var(--primary-color-40-partial);
  --primary-color-lighter-2-partial: var(--primary-color-20-partial);
  --primary-color-base: var(--primary-color-70);
  --primary-color-darker-1: var(--primary-color-80);
  --primary-color-darker-2: var(--primary-color-90);
  --primary-color-lighter-1: var(--primary-color-40);
  --primary-color-lighter-2: var(--primary-color-20);
  --primary-color-90: hsla(var(--primary-color-90-partial), 1);
  --primary-color-80: hsla(var(--primary-color-80-partial), 1);
  --primary-color-70: hsla(var(--primary-color-70-partial), 1);
  --primary-color-60: hsla(var(--primary-color-60-partial), 1);
  --primary-color-50: hsla(var(--primary-color-50-partial), 1);
  --primary-color-40: hsla(var(--primary-color-40-partial), 1);
  --primary-color-30: hsla(var(--primary-color-30-partial), 1);
  --primary-color-20: hsla(var(--primary-color-20-partial), 1);
  --primary-color-10: hsla(var(--primary-color-10-partial), 1);
  --primary-color-05: hsla(var(--primary-color-05-partial), 1);
}

.grey {
  --primary-color-90-partial: var(--support-color-90-partial);
  --primary-color-80-partial: var(--support-color-80-partial);
  --primary-color-70-partial: var(--support-color-70-partial);
  --primary-color-60-partial: var(--support-color-60-partial);
  --primary-color-50-partial: var(--support-color-50-partial);
  --primary-color-40-partial: var(--support-color-40-partial);
  --primary-color-30-partial: var(--support-color-30-partial);
  --primary-color-20-partial: var(--support-color-20-partial);
  --primary-color-10-partial: var(--support-color-10-partial);
  --primary-color-05-partial: var(--support-color-05-partial);
  --primary-color-base: var(--support-color-70);
  --primary-color-darker-1: var(--support-color-80);
  --primary-color-darker-2: var(--support-color-90);
  --primary-color-lighter-1: var(--support-color-40);
  --primary-color-lighter-2: var(--support-color-20);
}

.accent {
  --primary-color-05-partial: 165, 58%, 95%;
  --primary-color-10-partial: 165, 60%, 83%;
  --primary-color-20-partial: 165, 62%, 77%;
  --primary-color-30-partial: 167, 64%, 70%;
  --primary-color-40-partial: 167, 67%, 61%;
  --primary-color-50-partial: 169, 64%, 52%;
  --primary-color-60-partial: 169, 57%, 48%;
  --primary-color-70-partial: 169, 56%, 43%;
  --primary-color-80-partial: 169, 57%, 38%;
  --primary-color-90-partial: 169, 57%, 32%;
  --primary-color-90: hsla(var(--primary-color-90-partial), 1);
  --primary-color-80: hsla(var(--primary-color-80-partial), 1);
  --primary-color-70: hsla(var(--primary-color-70-partial), 1);
  --primary-color-60: hsla(var(--primary-color-60-partial), 1);
  --primary-color-50: hsla(var(--primary-color-50-partial), 1);
  --primary-color-40: hsla(var(--primary-color-40-partial), 1);
  --primary-color-30: hsla(var(--primary-color-30-partial), 1);
  --primary-color-20: hsla(var(--primary-color-20-partial), 1);
  --primary-color-10: hsla(var(--primary-color-10-partial), 1);
  --primary-color-05: hsla(var(--primary-color-05-partial), 1);
}

@media (prefers-color-scheme: dark) {
  .dark-theme {
    /* Not supported yet */
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border: 0px;
  background-color: var(--support-color-02);
}

::-webkit-scrollbar-thumb {
  background: rgba(202, 204, 206, 0.8);
  mix-blend-mode: multiply;
}

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content 1fr;
      grid-template-columns: -webkit-max-content 1fr;
      grid-template-columns: max-content 1fr;
  background: var(--support-color-02);
  --scrollbar-color: var(--support-color-20) var(--support-color-05);
  --menu-width: 260px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sideNav {
  background-color: var(--primary-color-base);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 0;
  width: var(--menu-width);
  -webkit-transition: width 0.24s linear;
  transition: width 0.24s linear;
  will-change: width;
  z-index: 1;
}

.sideNav__header {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.sideNav__header > h4 {
  white-space: nowrap;
}

.sideNav__header > .material-icons {
  padding: 8px 12px;
}

.sideNav__menu {
  --scrollbar-color: transparent transparent;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: var(--scrollbar-color);
  scrollbar-width: thin;
  height: 100%;
}

.sideNav__menu::-webkit-scrollbar {
  display: none;
}

.sideNav__menu:hover::-webkit-scrollbar {
  display: block;
}

.sideNav__menu:hover {
  --scrollbar-color: var(--support-color-20) var(--support-color-05);
}

.sideNav__menu::-webkit-scrollbar-thumb {
  background: lightgray;
  mix-blend-mode: screen;
}

.sideNav__menu__item {
  background-color: var(--primary-color-base);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sideNav__menu__item:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.sideNav__menu__item__label {
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sideNav__menu__item > .material-icons {
  position: relative;
  padding: 8px 12px;
}

.sideNav__menu__item > .material-icons:before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: purple;
}

.sideNav__footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 12px 8px rgba(0, 14, 23, 0.32);
          box-shadow: 0px 0px 12px 8px rgba(0, 14, 23, 0.32);
  z-index: 2;
}

.main-content__header {
  border-bottom: 1px solid grey;
}

.main-content__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content__content__context-menu {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 var(--menu-width);
          flex: 0 0 var(--menu-width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid lightgray;
}

.main-content__content__context-menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 0;
  margin-bottom: 48px;
}

.main-content__content__context-menu__controls {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid var(--support-color-10);
}

.main-content__content__context-menu__menu {
  --scrollbar-color: transparent transparent;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-y: auto;
  scrollbar-color: var(--scrollbar-color);
  scrollbar-width: thin;
  font-size: 1rem;
  position: relative;
  margin-bottom: var(--menu-collapse-btn-size);
}

.main-content__content__context-menu__menu::-webkit-scrollbar {
  display: none;
}

.main-content__content__context-menu__menu:hover::-webkit-scrollbar {
  display: block;
}

.main-content__content__context-menu__menu:hover {
  --scrollbar-color: var(--support-color-20) var(--support-color-05);
}

.main-content__content__context-menu__menu .organization {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-content__content__context-menu__menu .organization > * {
  color: var(--support-color-90);
  padding: 1rem 1.5rem;
}

.main-content__content__context-menu__menu .organization > li {
  background-color: white;
  border-bottom: 1px solid var(--support-color-05);
}

.main-content__content__context-menu__menu .organization > li:hover {
  -webkit-filter: brightness(0.98);
          filter: brightness(0.98);
}

.main-content__content__context-menu__menu .organization__header {
  font-size: 14px;
  color: var(--support-color-70);
  display: block;
  background-color: var(--support-color-01);
  padding: 0.5rem 1.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

.main-content__content__context-menu__footer {
  background-color: white;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  bottom: 0;
  right: 0;
  left: 0;
}

.main-content__content__grid {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -ms-grid;
  display: grid;
  overflow-y: auto;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: max-content auto;
      grid-template-rows: -webkit-max-content auto;
      grid-template-rows: max-content auto;
  background-color: lightgreen;
}

.main-content__content__grid__filter-bar {
  padding: 1rem;
}

.main-content__content__grid__table {
  overflow-y: auto;
}

.table-columns {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16ch, 1fr))[6];
      grid-template-columns: repeat(6, minmax(16ch, 1fr));
  border-bottom: 1px solid darkblue;
  z-index: 2;
}

.table-columns__cell {
  background-color: white;
  padding: 1rem;
}

.table-cells {
  display: -ms-grid;
  display: grid;
}

.table-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16ch, 1fr))[6];
      grid-template-columns: repeat(6, minmax(16ch, 1fr));
  border-bottom: 2px solid grey;
  background-color: var(--support-color-02);
  z-index: 1;
}

.table-row:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.table-row__cell {
  padding: 1rem;
}

.menu_collapse_btn {
  --menu-collapse-btn-size: 48px;
  height: var(--menu-collapse-btn-size);
  width: var(--menu-collapse-btn-size);
  border-radius: 0;
  background-color: white;
  border: none;
}

.menu_collapse_btn:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.collapsed-sideNav-menu {
  width: 48px;
}

.collapsed-context-menu {
  -ms-flex-preferred-size: 0px;
      flex-basis: 0px;
  width: 0;
  overflow: hidden;
}

.collapsed-context-menu-1 {
  -ms-flex-preferred-size: 0px;
      flex-basis: 0px;
  width: 0;
}

.collapsed {
  right: var(--menu-collapse-btn-size);
}

@-webkit-keyframes animateContextMenuWrapper {
  0% {
    width: 48px;
  }
  90% {
    flex-basis: 0px;
    width: 0;
  }
  100% {
    overflow: hidden;
  }
}

@keyframes animateContextMenuWrapper {
  0% {
    width: 48px;
  }
  90% {
    -ms-flex-preferred-size: 0px;
        flex-basis: 0px;
    width: 0;
  }
  100% {
    overflow: hidden;
  }
}

@-webkit-keyframes animateContextMenu {
  0% {
    width: 48px;
  }
  90% {
    flex-basis: 0px;
    width: 0;
  }
}

@keyframes animateContextMenu {
  0% {
    width: 48px;
  }
  90% {
    -ms-flex-preferred-size: 0px;
        flex-basis: 0px;
    width: 0;
  }
}
/*# sourceMappingURL=styles.css.map */