@import '../variables';

html{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    place-content: center center;
    background: var(--support-color-02);
}

#userManagementWidget {
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0px 2px 3px rgba(47, 60, 59, 0.13);
    border: 1px solid var(--support-color-05);
    border-radius: 4px;
    height: 544px;
    width: 368px;
    overflow: hidden;
}

.controls {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid var(--support-color-10);
}

.content {
    flex-grow: 1;
    overflow-y: scroll;
    font-size: 1rem;
    position: relative;

    & .organization {
        margin: 0;
        padding: 0;
        list-style: none;

        & > * {
            
            color: var(--support-color-90);
            padding: 1rem 1.5rem;
        }

        & > li {
            background-color: white;
            border-bottom: 1px solid var(--support-color-05);
            &:hover{
                filter: brightness(0.98);
            }
        }

        &__header {
            font-size: 14px;
            color: var(--support-color-70);
            display: block;
            background-color: var(--support-color-01);
            padding: 0.5rem 1.5rem;
            position: sticky;
            top: 0;
            left: 0;
        }
    }
}